<app-toolbar></app-toolbar>
<div class= "main-panel">
	<!-- <div class="container">
		<video autoplay="true" muted loop  onloadedmetadata="this.muted = true">
			<source src="assets/videos/MovieMashup.mp4" type="video/mp4">
		</video>
		<p align="center" class="text"> TMDB++</p>
		<p align="center" class="subtitle">More than just movies</p>
		<div align="center"  class="btn-container">
			<button  (click)="goMovies();" class="btn">Come on!</button>
		</div>	
	</div> -->
</div>
<app-footer></app-footer>