<div class="main-footer-panel">
	<div class="footer-gradient">
		<div class="footer-info-panel">
			<a target="_blank" href="https://marvel.com/">
				<div class="marvel-logo"></div>
			</a>
		</div>
		<div  class="footer-info-panel"> <!-- links section -->
			  
		</div>
		<div class="footer-info-panel"> 
			<div>
				<div>
					<p align="center" class="footer-white-title" >Marvel</p>
					<p align="center" class="footer-subtitle">Marvel for Developers</p>
					<p align="center" class="footer-subtitle">2017</p>
				</div>
				<br>
				<br>
				<div class="social-media">
					<a  target="_blank" href="https://github.com/crisefd/">
					<div class="footer-ico github"></div>
					</a>
					<a  target="_blank" href="https://www.facebook.com/AlertLogic/">
					<div class="footer-ico facebook"></div>
					</a>
					<a  target="_blank" href="https://www.youtube.com/user/AlertLogicTV">
					<div class="footer-ico youtube"></div>
					</a>
				</div>
			</div>
		</div>
		<div class="footer-info-panel"> <!-- Personal information section -->
			<div >

				<p ><b>Cristhian Fuertes</b></p>
				<p class="footer-subtitle">Systems Engineer</p>
				<p class="footer-subtitle">+57 317 430 8210</p>

				<br>

				<p>Email:</p>
				<p class="footer-subtitle">cristhian.fuertes@alertlogic.com</p>
			</div>
		</div>
	</div>
	<div class="footer-bottom-bar"> <!-- Copiright section -->
		<p class="footer-subtitle copyright"> 
			© Cristhian Fuertes
		</p>
	</div>
</div>